*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Noto Sans JP";
    box-sizing: border-box;
}
/* 協同合作LOGO */
.co-wrap{
    width: 100%;
}
.co-container{
    width: 100%;
    height: 250px;
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0 0;
}
.co-container h1{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}
.coLogo-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.coLogo-wrapper img{
    width: 120px;
    height: 60px;   
}
/* 免費試用freeTest */
.freeTest{
    width: 100%;
    height: 300px;
    background: #fffbfb;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.freeTest h1{
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 15px;
}
.freeTest small{
    font-size: 16px;
    color: #999;
}
.freeTest a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    background: #3c76e0;
    width: 150px;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 15px auto;
}
/* footer */
footer{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #18212c;
    padding: 5rem 8vw;
}
/* footer > div{
    margin: 0 50px;
} */
footer h3{
    color: #fff;
    margin: 0 0 15px;
}
footer a{
    text-decoration: none;
    color: #6e7d96;
    font-weight: 100;
    padding: 7px 0;
    display: inline-block;
}
footer a:hover{
    color: #cfcfcf;
}
/* END footer */
.footer-socail{
    width: 100%;
    margin: auto 10px;
}
.footer-socail ul{
    display: flex;
    margin-left: -20px;
    padding: 30px 0;
}
.footer-socail li{
    margin: 8px;
}
.IconSmall{
    width: 26px;
    height: 26px;
    fill:#6e7d96;
}
.copyright{
    color: #6e7d96;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
    border-top: 1px solid #263546;
    margin-top: 1rem;
    flex-wrap: wrap-reverse;
}
.copyright .term a{
  margin-right: 20px;
}