*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Noto Sans JP";
    box-sizing: border-box;
}
body{
    background:#fff;
}
/* nav */
.nav-wrap{
    width: 100%;
    z-index: 2;
    height: 100px;
}
.nav-container{
    display: flex;
    height: 100px;
}
.nav-container .logo{
    width: 80px;
    height: 80px;
    margin: 20px;
}
.nav-container .logo img{
    width: 100%;
}
.nav-group{
    width: 100%;
    align-self: center;
}
.nav-group ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
}
.nav-group a{
    margin-right: 30px;
    color: #999;
    text-decoration: none;
}
.nav-group a:hover{
    color: #fff;
    transform: translateY(-20px);
}
/* END nav */
.motion-banner{
    width: 1200px;
    margin: auto;
}
.banner-container{
    width: 100%;
}
.banner-container video{
    width: 1200px;
    height: 500px;
    margin: auto;
}