*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Noto Sans JP";
    box-sizing: border-box;
}
/* banner */
.banner-wrap{
    width: 100%;
}
.banner-container{
    width: 100%;
    height: 100vh;
    background: 
                linear-gradient( rgba(0, 37, 247, 0.5),rgba(0, 37, 247, 0.3)),
                url("images/woman-in-gray-sweater-using-macbook-pro-4134776.jpg")center ;
    background-size: cover;
}
.banner-container .txt{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-container h1{
     font-size: 70px;
     color: #fff;
}
/* END banner */
/* product產品資訊 */
.product{
    width: 100%;
    margin: auto;
    padding: 100px 0;
}
.inner-product{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.product-wrap{
    width: 350px;
    padding: 25px;
}
.theme-preview{
    position: relative;
}
.product-wrap .browser{
    width: 100%;
    height: 360px;
    background-position: center 16px;
    background-repeat: no-repeat;
    border-radius: 5px 5px 2px 2px;
    box-shadow: 0 10px 40px rgba(0,0,0,.15);
    background-color: #eee;
    padding-top: 20px ;
    overflow: hidden;
    position: relative;
}
.product-wrap .browser::before{
    content:'';
    width: 8px;
    height: 8px;
    background-color: #aaa;
    display: block;
    position: absolute;
    border-radius: 50%;
    box-shadow: 18px 0px 0px 0px #aaa,
                36px 0px 0px 0px #aaa;
    top: 7px;
    left: 8px;
}
.product-wrap .mobile{
    background-color: #ecf0f1;
    box-shadow: 0 15px 30px rgba(0,0,0,.15);
    padding: 16px 3px;
    width: 50%;
    position: absolute;
    top: 25%;
    left: 60%;
    border-radius: 8px;
}
.product-wrap a{
    display: block;
    text-decoration: none;
    color: #000;
}
.product-wrap h2{
    width: 100%;
    display: inline-block;
    margin-top: 70px;
    text-align: center;
}
.product-wrap img{
    width: 100%;
}
/* 協同合作LOGO */
.co-wrap{
    width: 100%;
}
.co-container{
    width: 100%;
    height: 250px;
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.co-container h1{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}
.coLogo-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.coLogo-wrapper img{
    width: 120px;
    height: 60px;   
}
/* 免費試用freeTest */
.freeTest{
    width: 100%;
    height: 300px;
    background: #fffbfb;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.freeTest h1{
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 15px;
}
.freeTest small{
    font-size: 16px;
    color: #999;
}
.freeTest a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    background: #3c76e0;
    width: 150px;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 15px auto;
}
/* footer */
footer{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #18212c;
    padding: 5rem 8vw;
}
/* footer > div{
    margin: 0 50px;
} */
footer h3{
    color: #fff;
    margin: 0 0 15px;
}
footer a{
    text-decoration: none;
    color: #6e7d96;
    font-weight: 100;
    padding: 7px 0;
    display: inline-block;
}
footer a:hover{
    color: #cfcfcf;
}
/* END footer */
.footer-socail{
    width: 100%;
    margin: auto 10px;
}
.footer-socail ul{
    display: flex;
    margin-left: -20px;
    padding: 30px 0;
}
.footer-socail li{
    margin: 8px;
}
.IconSmall{
    width: 26px;
    height: 26px;
    fill:#6e7d96;
}
.copyright{
    color: #6e7d96;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
    border-top: 1px solid #263546;
    margin-top: 1rem;
    flex-wrap: wrap-reverse;
}
.copyright .term a{
  margin-right: 20px;
}